* {
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 3500px;
    position: absolute;
    overflow-x: hidden;
}
a{
    position: absolute;
}

.bbsTitle{
    position: absolute;
    width: 1000px;
    height: 100px;
    background-color: rgba(240, 248, 255, 0.6);
    border-radius: 20px;
    backdrop-filter: blur(2px);
    z-index: 99;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    line-height: 100px;
    font-size: 2em;
    font-weight: bold;
    box-shadow: inset 0 0 5px 5px rgb(0 0 0 / 20%);
    margin-top: 70px;
}

.area {
    background: #006c9e;
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
    width: 100%;
    height: 100vh;
    position: fixed;
}

.circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;

}

.circles li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 100%;
    }
}
.board{
    width: 1000px;
    height:2950px;
    position: absolute;
    top:1515px;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 99;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.userBoard{
    width: 300px;
    height: 500px;
    background-color:rgba(240, 248, 255, 0.6);
    border-radius: 30px;
    margin-right: 50px;
    backdrop-filter: blur(2px);
    position: relative;
    box-shadow: inset 0 0 5px 5px rgba(0, 0, 0, 0.2);
}
.bbsBoard{
    width: 700px;
    height: 500px;
    background-color:rgba(240, 248, 255, 0.6);
    border-radius: 30px;
    backdrop-filter: blur(5px);
    position: relative;
    box-shadow: inset 0 0 5px 5px rgba(0, 0, 0, 0.2);
}
.bbsState{
    font-size: 2em;
    font-weight: bold;
    margin: 20px 0 0 20px;
}
.bbsBoard ul{
    width: 600px;
    height: 400px;
    /* background-color: aliceblue; */
    position: absolute;
    top:55%;
    left:50%;
    transform: translate(-50%,-50%);
    list-style: none;
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid black;
    border-radius: 10px;
}
.bbsBoard ul::-webkit-scrollbar{
    width: 10px;
}
.bbsBoard ul::-webkit-scrollbar-thumb{
    background-color:darkslateblue;
    border-radius: 0 20px 20px 0;
}
.bbsBoard ul::-webkit-scrollbar-track{
    background-color:royalblue;
    border-radius: 0 20px 20px 0;
}
.bbsBoard ul li{
    display: flex;
    flex-direction: row;
    width: 600px;
    height: 50px;
}
.bbsBoard ul li:hover div{
    background-color: rgb(197, 205, 211);
}
.bbsBoard ul li div{
    /* border: 1px solid black; */
    box-sizing: border-box;
    line-height: 50px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: aliceblue;
    box-shadow: inset 0 0 5px 1px rgba(0, 0, 0, 0.2);
}
.bbsBoard ul li div:nth-child(1){
    width: 50px;
    text-align: center;
    font-weight: bold;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}
.bbsBoard ul li div:nth-child(2){
    width: 350px;
    padding: 0 10px 0 10px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    cursor: pointer;
}
.bbsBoard ul li div:nth-child(3){
    width: 80px;
    text-align: center;
    font-weight: bold;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}
.bbsBoard ul li div:nth-child(4){
    width: 120px;
    text-align: center;
    border-bottom: 1px solid black;
}

.viewBorder{
    width: 950px;
    height: 950px;
    z-index: 100;
    background-color: aliceblue;
    border: 1px solid black;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: scroll;
    overflow-x: hidden;
}
.viewBorder::-webkit-scrollbar{
    display: none;
}
.viewHeader table{
    background-color: black;
    width: 950px;
    height: 950px;
    border: 1px solid black;
}
.viewHeader th{
    background-color:silver;
    border: gray;
    font-size: 1.2em;
    width: 150px;

}
.thead{
    width: 950px;
    height: 200px;
}
.viewHeader .profileImg{
    width: 250px;
    height: 200px;
}
.viewHeader .profileImg img{
    max-width: 200px;
    max-height: 200px;
}
.viewHeader td{
    background-color: white;
    border: gray;
    width: 150px;
}

table td{
    text-align: center;
}
tbody tr td{
    padding: 20px;
    text-align: left;
    vertical-align: top;
}

.writeForm{
    width: 950px;
    height: 950px;
    z-index: 100;
    background-color: aliceblue;
    border: 1px solid black;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: scroll;
    overflow-x: hidden;
}
.writeForm form hr{
    margin: 0;
}
.writeForm label{
    font-size: 1.5em;
    font-weight: bold;
    margin-left: 20px;
}
.writeForm label:nth-child(2){
    text-align: center;
}
.writeForm #title{
    font-size: 1.5em;
    width: 70%;
}
.writeForm #title:focus{
    outline: none;
}
.writeForm form textarea{
    width: 950px;
    min-height: 800px;
    font-size: 1.5em;
}
.writeForm form textarea:focus{
    outline: none;
}
.writeForm form input[type="submit"]{
    position: absolute;
    top: 72px;
    left: 90%;
    padding: 5px;
    width: 50px;
    font-weight: bold;
    background-color: royalblue;
    color: aliceblue;
    border: none;
    border-radius: 10px;
    width: 80px;
    cursor: pointer;
}
.userBoard00{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    list-style: none;
    padding: 20px;
    
}
.userBoard01{
    width: 210px;
    height: 210px;
    background-color:#bbb;
    border-radius: 50%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
}
.userBoard01 .img{
    width: 200px;
    height: 200px;
    background-color:#bbb;
    border-radius: 50%;
    position: relative;
    top:51%;
    left: 50%;
    transform: translate(-50%, -50%);
    clip-path:circle(50%);
}
.userBoard01 .img img{
    width: 200px;
}
.userBoard01 span{
    width: 30px;
    height: 30px;
    border: 2px solid rgb(120, 120, 120);
    color: rgb(120, 120, 120);
    border-radius: 50%;
    background-color: aliceblue;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    position: absolute;
    top:80%;
    right: 10%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    box-shadow: inset -2px -2px 1px 0 rgba(0, 0, 0, 0.2);
}
hr{
    margin: 15px 0 15px 0;
    border: 1px solid black;
}
.userBoard02, .userBoard03{
    width: 260px;
    white-space : nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.userBoard02 div:nth-child(odd), .userBoard03 div:nth-child(odd){
    font-weight: bold;
    font-size: 1.8em;
    color: rgb(50, 50, 50);
}
.userBoard02 div:nth-child(even), .userBoard03 div:nth-child(even){
    margin-bottom: 10px;
    font-size: 1.3em;
    color: black;
    white-space : nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.userBoard04{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-top: 10px;
}
.logoutBox span{
    width: 40px;
    height: 40px;
    background-color: rgba(240, 248, 255, 0.3);
    backdrop-filter: blur(5px);
    border-radius: 50%;
    line-height: 40px;
    cursor: pointer;
}
.logoutBox span:hover{
    color: red;
}
.logoutBox small{
    font-weight: bold !important;
}

.navbar{
    position: fixed;
    width: 100px;
    height: 500px;
    z-index: 999;
    background-color: rgba(240, 248, 255);
    border-radius: 30px;
    backdrop-filter: blur(2px);
    box-shadow: inset 0 0 5px 5px rgb(0 0 0 / 20%);
    top:29%;
    left: 50%;
    transform: translate(530%,-50%);
}

.navbar ul{
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.navbar ul li{
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}
@media (max-width: 1449px){
    .navbar{
        position: fixed;
        width: 1000px;
        height: 100px;
        z-index: 999;
        background-color: rgba(240, 248, 255);
        border-radius: 30px;
        backdrop-filter: blur(2px);
        box-shadow: inset 0 0 5px 5px rgb(0 0 0 / 20%);
        top: 95%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .navbar ul{
        height: 100%;
        list-style: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    .navbar ul li{
        width: 50px;
        height: 50px;
        text-align: center;
        line-height: 50px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        cursor: pointer;
    }
}
.topBoard{
    width: 1000px;
    height: 500px;
    z-index: 99;
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}
.search{
    width: 1000px;
    height: 100px;
    z-index: 99;
    background-color: rgba(240, 248, 255, 0.6);
    border-radius: 30px;
    backdrop-filter: blur(2px);
    box-shadow: inset 0 0 5px 5px rgb(0 0 0 / 20%);
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.search label{
    margin-left: 20px;
    font-weight: bold;
    font-size: 1.5em;
}
.search select{
    margin-left: 20px;
    padding: 5px;
    border-radius: 10px;
}
.search select:focus{
    outline: none;
}
.search input{
    margin-left: 20px;
    padding: 5px;
    width: 650px;
    border: 1px solid black;
    border-radius: 10px;
}
.search input:focus{
    outline: none;
}
.search input[type="submit"]{
    margin-left: 20px;
    padding: 5px;
    width: 50px;
    font-weight: bold;
    background-color: royalblue;
    color: aliceblue;
}
.bbsView{
    width: 1000px;
    height: 1000px;
    z-index: 99;
    background-color: rgba(240, 248, 255, 0.6);
    border-radius: 30px;
    backdrop-filter: blur(2px);
    box-shadow: inset 0 0 5px 5px rgb(0 0 0 / 20%);
    margin-top: 50px;
}
.write{
    width: 1000px;
    height: 1000px;
    z-index: 99;
    background-color: rgba(240, 248, 255, 0.6);
    border-radius: 30px;
    backdrop-filter: blur(2px);
    box-shadow: inset 0 0 5px 5px rgb(0 0 0 / 20%);
    margin-top: 50px;
}

.footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 400px;
    background-color: cornflowerblue;
    z-index: 1000;
}
.footh{
    width: 100%;
    height: 80px;
    background-color:rgb(96, 105, 133);
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    color: gainsboro;
    padding: 10px 0 5px 0;
}
.footb{
    width: 80%;
    height: 260px;
    position: relative;
    top: 0%;
    left:50%;
    transform: translateX(-50%);
    /* background-color: beige; */
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.sheepIcon{
    width: 154px;
    height: 117px;
    background-image: url(../IMG/sheep-ani.png);
    background-repeat: no-repeat;
    position: absolute;
    animation: 
        sheep 0.5s infinite steps(8),
        move1 10s infinite linear;
}
@keyframes move1 {
    from {
        left: 120%;
    }

    to {
        left: -30%;
    }
}
.sheepIcon2{
    width: 154px;
    height: 117px;
    background-image: url(../IMG/sheep-ani.png);
    background-repeat: no-repeat;
    position: absolute;
    animation: 
        sheep 0.5s infinite steps(8),
        move2 5s infinite linear;
}
@keyframes move2 {
    from {
        left: 120%;
    }

    to {
        left: -30%;
    }
}
.sheepIcon3{
    width: 154px;
    height: 117px;
    background-image: url(../IMG/sheep-ani.png);
    background-repeat: no-repeat;
    position: absolute;
    animation: 
        sheep 0.5s infinite steps(8),
        move3 8s infinite linear;
}
@keyframes move3 {
    from {
        left: 120%;
    }

    to {
        left: -30%;
    }
}
.sheepIcon4{
    width: 154px;
    height: 117px;
    background-image: url(../IMG/sheep-ani.png);
    background-repeat: no-repeat;
    position: absolute;
    animation: 
        sheep 0.5s infinite steps(8),
        move4 13s infinite linear;
}
@keyframes move4 {
    from {
        left: 120%;
    }

    to {
        left: -30%;
    }
}
@keyframes sheep {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -1310px 0;
    }
}
.userInfoUpdateForm{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1999;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
}
.updateLayout{
    width: 500px;
    height: 800px;
    background-color: rgba(240, 248, 255, 0.8);
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 2000;
    border-radius: 50px;
    box-sizing: border-box;
    border: 5px solid skyblue;
    box-shadow: inset 0 0 20px 5px skyblue;
    backdrop-filter: blur(5px);
}
.updateCloseBtn {
    position: absolute;
    top: 20px;
    right: 20px;
    text-align: center;
    color: gray;
    font-size: 2em;
    font-weight: bold;
    width: 40px;
    height: 40px;
    border: 3px solid gray;
    border-radius: 50%;
    padding: 0;
    line-height: 40px;
    cursor: pointer;
}
.updateCloseBtn:hover {
    color: crimson;
    border: 3px solid crimson;
}
.updateForm{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}
.updateForm label{
    position: relative;
    left: 0;
    font-size: 1.5em;
    font-weight: bold;
    color: gray;
    margin-bottom: 5px;
}
.updateForm input{
    padding: 10px;
    margin-bottom: 20px;
    width: 200px;
}
.updateForm input:focus{
    outline: none;
}
.updateForm input[name="changeemail"]{
    background-color: #bbb;
}
.updateForm input[type="submit"]{
    border-radius: 10px;
    font-size: 1.2em;
    font-weight: bold;
}
.updateForm input[type="submit"]:hover{
    background-color: rgba(169, 169, 169, 0.3);
    cursor: pointer;
}
.updateProfile{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: gray;
    margin-bottom: 50px;
    clip-path: circle(50%);
}
.updateProfile img{
    width: 300px;
}
.updateState{
    display: none;
    position: absolute;
    /* display: block; */
    text-align: center;
    width: 300px;
    height: 300px;
    background-color: rgb(0 0 0 / 60%);
    cursor: pointer;
    z-index: 2050;
}
.updateState span{
    position: absolute;
    top: 14%;
    left: 50%;
    transform: translate(-50%, 0%);
    font-size: 8em;
    color:white;
    z-index: 3000;
    width: 200px;
    height: 200px;
    border: 5px solid white;
    border-radius: 50%;
    line-height: 200px;
}
.updateProfile:hover .updateState{
    display: block;
}